



a:hover {
	color: #999 !important;
}


.clearfix {
	clear: both;
	height: 0;
	line-height: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}



.endOfSection {
  	clear: both;
  	width: 100%;
  	height: 0;
  	line-height: 0;
  	font-size: 0;
  	padding: 0;
  	margin: 0;
  	border: 0;
}

/***** Main Layout ****/


